body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #a7a7a7;
}

.page-content-wrapper {
  width: 100%;
  transition: margin-left .5s;
  position: relative;
  padding: 50px 20px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  padding: 80px 20px;
  box-sizing: border-box;
  background: #242222;
  transition: left .5s;
  z-index: 10;
}

#sidebar.active {
  left: 0;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar ul li {
  margin-bottom: 20px;
}

#sidebar ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.toggle-btn {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 11;
}

.toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #ffffff;
  margin: 5px 0px;
}

.page-content-wrapper.move-content {
  margin-left: 250px;
}